*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  color: #fff;
  width: 100%;
}

img,
i {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home {
  position: relative;
  height: 100vh;
}

.home__over-img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 2;
  background-color: #112530;
  opacity: 80%;
}

.home__bgimage {
  height: 100%;
  width: 100%;
}

.home__header {
  position: absolute;
  width: 100%;
  height: 133.8px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home__header .header--logo {
  height: 100px;
  width: 100px;
}

.home__header .header--list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__header .header--list li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.home__header .header--burger {
  display: none;
}

.home__welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.home__welcome .welcome--content {
  text-align: center;
}

.home__welcome .welcome--content h1 {
  font-size: 50px;
  font-family: 'Niconne', cursive;
  color: #c69963;
}

.home__welcome .welcome--content h3 {
  padding-top: 5px;
  opacity: 70%;
}

.home__welcome .welcome--content .welcome--buttons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home__welcome .welcome--content .welcome--buttons .button {
  padding: 6px 40px;
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: #fff;
  opacity: 70%;
  border: 1px solid #c69963;
  cursor: pointer;
}

@media (max-width: 765px) {
  .home__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__header .header--logo {
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
  .home__header .header--list {
    display: none;
  }
  .home__header .header--burger {
    display: block;
    height: 100px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__header .header--burger .line {
    width: 25px;
    height: 4px;
    background-color: #bae2ee;
  }
  .home__header .header--burger .line2 {
    margin-top: 3px;
  }
  .home__header .header--burger .line3 {
    margin-top: 3px;
  }
  .home__welcome .welcome--content h1 {
    font-size: 30px;
  }
  .home__welcome .welcome--content h3 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */